.v-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.v-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.image-container {
  border: 8px solid rgba(232, 232, 232, 0.93);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  box-sizing: border-box;
}

.image-container img {
  display: block;
  max-width: 100%;
  height: auto;
}

.v-container > div {
  flex: 1;
}

.v-right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.accordion {
  margin-top: 2rem;
  border: none;
}

.accordionItem {
  background-color: white;
  border: 0.8px solid rgba(128, 128, 128, 0.143);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.accordionButton {
  background: white;
  padding: 1rem;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.icon {
  padding: 10px;
  background: #eeeeff;
  border-radius: 5px;
}

.icon svg {
  fill: var(--blue);
}

.accordionButton .primaryText {
  font-size: 1.1rem;
}

.accordionItemInner {
  transition: box-shadow 0.3s ease;
}

.accordionItemInner.expanded {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Media Queries */
@media (max-width: 992px) {
  .v-container {
    flex-direction: column;
  }
  
  .image-container {
    margin-bottom: 2rem;
  }
}
